<header class="app-header">
  <span class="app-header__brand" id="header-brand" data-walkthrough="reports1">{{ 'header.brand' | transloco }}</span>
  <span class="app-header__brand" id="header-about" data-walkthrough="reports2">{{ 'header.about' | transloco }}</span>
  <span class="app-header__brand" id="header-contact" data-walkthrough="reports3">{{ 'header.contact' | transloco }}</span>

  <div class="app-header__controls" id="header-language-selector" data-walkthrough="reports4">
    <label class="app-header__field">
      {{ 'header.languageLabel' | transloco }}
      <select
        class="app-header__select"
        [value]="currentLang()"
        (change)="onLanguageChange($event)"
      >
        @for (lang of languages; track lang) {
          <option [value]="lang.code">
            {{ lang.label }}
          </option>
        }
      </select>
    </label>

  </div>
</header>
<app-walkthrough
  [steps]="walkthroughSteps"
  storageKey="home"
  [show]="true"
/>
